---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/pagespeedonline/v5/runPagespeed?key=&url=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "errors": [
              {
                "message": "Invalid value 'invalid'. Values must match the following regular expression: '(?i)(url:|origin:)?http(s)?://.*'",
                "domain": "gdata.CoreErrorDomain",
                "reason": "INVALID_PARAMETER",
                "location": "url",
                "locationType": "other"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Fri, 07 Feb 2020 04:47:02 GMT
recorded_with: VCR 5.1.0
